{% extends 'base.html.twig' %}

{% block title %}Koababi | Fiche produit {% endblock %}


{% block body %}



<div class="container">
    <div class="my-4">
        <a href="{{ path('products') }}"><strong><- Revenir</strong></a>
    </div>
    <div class="row">
            <div class="row g-0">
                <div class="col-md-5">
                    <img src="{{ asset('/uploads/' ~ product.illustration) }}" class="img-thumbnail" alt="{{ product.name }}"/>
                </div>
                <div class="col-md-7">
                    <div class="card-body ">
                        <div><h2 class="card-title fs-1">{{ product.name }}</h2></div>
                        <div><p class="card-text">{{ product.description}}</p></div>
                        <div><p class="card-text fs-1">{{ (product.price / 100)|number_format(2,',','.') }} €</p></div>
                        <div>
                        <button type="button" class="btn form-button my-3"><a  href="{{ path('add_to_cart', {'id': product.id}) }}">Ajouter au panier</a></button>
                        </div>
                    </div>
                   
                </div>
                
            </div>
            
        
  
    </div>
</div>
{% endblock %}