<div>
    <nav class="navbar navbar-expand-lg navbar-light mb-5 pt-4 fs-3">
        <div class="container-fluid">
            <a class="navbar-brand fs-1" href="{{path('home')}}">Koababi</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active link-nav fs-3" aria-current="page" href="{{path('products')}}">Collection</a>
                {% if is_granted('ROLE_ADMIN') %}
                <a class="nav-link link-nav" href="{{path('admin')}}"><i class="fas fa-tasks"></i></a>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="nav-link link-nav fs-3" href="{{path('account')}}"><i class="fas fa-user"></i></a>
                 {% else %}
                <a class="nav-link link-nav fs-3" href="{{path('app_login')}}">Connexion</a>
                 {% endif %}
                 <a class="nav-link link-nav fs-3" href="{{path('cart')}}"><i class="fas fa-shopping-cart"></i></a>
            </div>
            </div>
        </div>
    </nav>
</div>